<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <p class="footer-link-title has-text-weight-bold">Navigation</p>
        {{navigation}}
      </div>
      <div class="column is-4">
        <p class="footer-link-title has-text-weight-bold">Follow Us</p>
        {{navigation}}
      </div>
    </div>
  </div>
</footer>
