{{!-- Icon partial to include icons easily --}}
<div class="icon {{data-name}}{{#if data-size}} icon--{{data-size}}{{/if}}">
  <svg class="icon__svg">
    <use xlink:href="#{{data-name}}"></use>
  </svg>
</div>
