{{!-- Pagination --}}
<nav class="pagination is-rounded  is-centered" role="navigation" aria-label="pagination">
  {{#if prev}}
    <a class="pagination-previous has-text-weight-bold" href="{{page_url prev}}">Newer Posts</a>
  {{/if}}
  <ul class="pagination-list">
    <li><a class="pagination-link button has-text-weight-bold is-primary">Page {{page}} of {{pages}}</a></li>
  </ul>
  {{#if next}}
    <a class="pagination-next has-text-weight-bold" href="{{page_url next}}">Older Posts</a>
  {{/if}}
</nav>
