{{!-- Related Posts --}}
{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tag:{{primary_tag.slug}}" as |related|}}
  <section class="related-posts">
    <div class="container">
      <h4 class="has-text-centered">{{t "You might also like"}}</h4>
      <div class="columns is-multiline">
        {{#foreach related}}
          <div class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">
            {{> post-card}}
          </div>
        {{/foreach}}
      </div>
    </div>
  </section>
{{/get}}
