{{!-- Social Media Links --}}
<div class="social-media">
  {{!-- Github --}}
  <a class="social-link github"
     href="https://github.com/andy1247008998" target="_blank" title="Github" aria-label="Github">
    {{>icon data-name="github"}}
    <p>Github</p>
  </a>
  {{!-- RSS --}}
  <a class="social-link rss"
     href="/rss" target="_blank" title="RSS" aria-label="RSS">
    {{>icon data-name="rss"}}
    <p>RSS</p>
  </a>
</div>
