{{!-- Social Media Links --}}
<div class="social-media">
  {{!-- Facebook --}}
  <a class="social-link facebook"
     href="{{facebook_url}}" target="_blank" title="Facebook" aria-label="Facebook">
    {{>icon data-name="facebook"}}
    <p>Facebook</p>
  </a>
  {{!-- Twitter --}}
  <a class="social-link twitter"
     href="{{twitter_url}}" target="_blank" title="Twitter"  aria-label="Twitter">
    {{>icon data-name="twitter"}}
    <p>Twitter</p>
  </a>
  {{!-- Instagram --}}
  <a class="social-link instagram"
     href="https://instagram.com/bironthemes" target="_blank" title="Instagram" aria-label="Instagram">
    {{>icon data-name="instagram"}}
    <p>Instagram</p>
  </a>
  {{!-- Linkedin --}}
  <a class="social-link linkedin"
     href="https://linkedin.com" target="_blank" title="Linkedin" aria-label="Linkedin">
    {{>icon data-name="linkedin"}}
    <p>Linkedin</p>
  </a>
  {{!-- Github --}}
  <a class="social-link github"
     href="https://github.com/bironthemes" target="_blank" title="Github" aria-label="Github">
    {{>icon data-name="github"}}
    <p>Github</p>
  </a>
  {{!-- RSS --}}
  <a class="social-link rss"
     href="/rss" target="_blank" title="RSS" aria-label="RSS">
    {{>icon data-name="rss"}}
    <p>RSS</p>
  </a>
</div>
