{{!< default}}

{{#tag}}
  <section class="hero background-img is-large" style="background-image: url('{{cover_image}}')">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
          {{name}}
        </h1>
        <h2 class="subtitle has-text-white">
          {{description}}
        </h2>
      </div>
    </div>
  </section>
{{/tag}}

<section class="posts">
  <div class="container">
    {{!-- Latest Posts --}}
    <div class="columns is-multiline">
      {{#foreach posts }}
        <div class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">
          {{> post-card}}
        </div>
      {{/foreach}}
    </div>

    {{pagination}}
  </div>
</section>
